/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 1000;
    padding: 1000;
    background-color: #5acaf3;
}

.container {
    width: 80%;
    margin: 50px auto;
    background-color: #c8abab;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(60, 59, 59, 0.1);
}

h1 {
    text-align: center;
    color: #f45405;
    margin-bottom: 20px;
}

form {
    margin-left: 200px;
    margin-right: 100px;
    margin-bottom: 40px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="number"] {
    width: 25%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-bottom: 5px;
}

button {
    padding: 8px 20px;
    background-color: #b97bc3;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    color: #eee8e8;
    text-align: left;
}
